In [60]:
import pandas as pd
import glob
import os

In [104]:
cols = ["Perimetre", "Nature", "Date", "Heures", "y", "Thermique", "Nucleaire", "Eolien", "Solaire", "Hydraulique", "Pompage", "Bioenergies", "Ech. physiques"]

In [107]:
path = "data"
all_files = glob.glob(os.path.join(path, "*.xls"))
df = pd.concat((pd.read_csv(f, names=cols, sep='\t', skiprows=1, index_col=False) for f in all_files))

C:\Users\adoni\AppData\Local\Temp\ipykernel_7244\3048580376.py:3: ParserWarning:

Length of header or names does not match length of data. This leads to a loss of data with index_col=False.

C:\Users\adoni\AppData\Local\Temp\ipykernel_7244\3048580376.py:3: ParserWarning:

Length of header or names does not match length of data. This leads to a loss of data with index_col=False.

In [109]:
df.drop(columns=["Perimetre", "Nature"], inplace=True)

In [110]:
df.head()

,Date,Heures,y,Thermique,Nucleaire,Eolien,Solaire,Hydraulique,Pompage,Bioenergies,Ech. physiques
0,2016-01-01,00:00,8885.0,293.0,-,18.0,0.0,10.0,-,137.0,8428.0
1,2016-01-01,00:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01,00:30,8709.0,309.0,-,16.0,0.0,10.0,-,148.0,8226.0
3,2016-01-01,00:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01,01:00,8343.0,309.0,-,13.0,0.0,10.0,-,149.0,7864.0

In [111]:
for column in df.columns:
    print(column, df[column].nunique())

Date 1827
Heures 96
y 9683
Thermique 1883
Nucleaire 1
Eolien 106
Solaire 108
Hydraulique 16
Pompage 1
Bioenergies 146
Ech. physiques 8840