In [175]:
import pandas as pd
import os
from zipfile import ZipFile
import glob

In [176]:
cols = ["Perimetre", "Nature", "Date", "Heures", "y", "Thermique", "Nucleaire", "Eolien", "Solaire", "Hydraulique", "Pompage", "Bioenergies", "Ech. physiques"]

In [177]:
path = "data"
all_files = glob.glob(os.path.join(path, "*.xls"))
df = pd.concat((pd.read_csv(f, names = cols,sep='\t', skiprows=1, index_col=False)) for f in all_files)

C:\Users\Max\AppData\Local\Temp\ipykernel_26728\3324696664.py:3: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.concat((pd.read_csv(f, names = cols,sep='\t', skiprows=1, index_col=False)) for f in all_files)
C:\Users\Max\AppData\Local\Temp\ipykernel_26728\3324696664.py:3: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.concat((pd.read_csv(f, names = cols,sep='\t', skiprows=1, index_col=False)) for f in all_files)

In [178]:
# df.to_csv("all_data.csv")
df.head()

,Perimetre,Nature,Date,Heures,y,Thermique,Nucleaire,Eolien,Solaire,Hydraulique,Pompage,Bioenergies,Ech. physiques
0,Ile-de-France,Donn�es d�finitives,2016-01-01,00:00,8885.0,293.0,-,18.0,0.0,10.0,-,137.0,8428.0
1,Ile-de-France,Donn�es d�finitives,2016-01-01,00:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ile-de-France,Donn�es d�finitives,2016-01-01,00:30,8709.0,309.0,-,16.0,0.0,10.0,-,148.0,8226.0
3,Ile-de-France,Donn�es d�finitives,2016-01-01,00:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ile-de-France,Donn�es d�finitives,2016-01-01,01:00,8343.0,309.0,-,13.0,0.0,10.0,-,149.0,7864.0

In [179]:
weather_df = pd.read_csv("data\donnees-synop-essentielles-omm.csv",sep=";")

In [180]:
IDF_df = weather_df[weather_df["region (name)"] == "Île-de-France"]
IDF_df.head()

,ID OMM station,Date,Pression au niveau mer,Variation de pression en 3 heures,Type de tendance barométrique,Direction du vent moyen 10 mn,Vitesse du vent moyen 10 mn,Température,Point de rosée,Humidité,...,Altitude,communes (name),communes (code),EPCI (name),EPCI (code),department (name),department (code),region (name),region (code),mois_de_l_annee
8,7149,2010-01-05T16:00:00+01:00,100530.0,-210.0,6.0,10.0,2.6,272.65,268.25,69.0,...,89,Athis-Mons,91027,Métropole du Grand Paris,200054781.0,Essonne,91,Île-de-France,11.0,1
18,7149,2010-01-06T01:00:00+01:00,100360.0,-100.0,8.0,230.0,1.0,268.75,268.05,94.0,...,89,Athis-Mons,91027,Métropole du Grand Paris,200054781.0,Essonne,91,Île-de-France,11.0,1
77,7149,2010-01-05T01:00:00+01:00,101440.0,-150.0,8.0,80.0,1.0,267.55,266.35,90.0,...,89,Athis-Mons,91027,Métropole du Grand Paris,200054781.0,Essonne,91,Île-de-France,11.0,1
95,7149,2010-03-02T19:00:00+01:00,102330.0,20.0,1.0,60.0,4.6,281.15,272.15,53.0,...,89,Athis-Mons,91027,Métropole du Grand Paris,200054781.0,Essonne,91,Île-de-France,11.0,3
104,7149,2010-03-01T01:00:00+01:00,100830.0,250.0,1.0,250.0,3.1,276.15,273.55,83.0,...,89,Athis-Mons,91027,Métropole du Grand Paris,200054781.0,Essonne,91,Île-de-France,11.0,3

Taking only data between 2016-2020 and only temperature and humidity data

In [181]:
yrs = ['2016','2017','2018','2019','2020']

IDF_df = IDF_df[IDF_df["Date"]>="2016-01-01T00:00:00+01:00"]
IDF_df = IDF_df[['Date','Température','Humidité','Pression au niveau mer']]
IDF_df['Heures'] = [d[11:16] for d in IDF_df['Date']]
IDF_df['Date'] = [d[:10] for d in IDF_df['Date']]     
IDF_df.head()

             Date  Température  Humidité  Pression au niveau mer Heures
25632  2016-03-31       279.25      89.0                101120.0  17:00
25698  2016-04-04       285.75      67.0                100510.0  23:00
25863  2016-03-29       283.65      87.0                101010.0  23:00
25867  2016-03-30       283.25      89.0                101040.0  02:00
25878  2016-04-09       286.45      55.0                100610.0  14:00

In [182]:
df_temp_hum= pd.merge(df,IDF_df, on = ['Date','Heures'])
df_temp_hum.head()

,Perimetre,Nature,Date,Heures,y,Thermique,Nucleaire,Eolien,Solaire,Hydraulique,Pompage,Bioenergies,Ech. physiques,Température,Humidité,Pression au niveau mer
0,Ile-de-France,Donn�es d�finitives,2016-01-01,01:00,8343.0,309.0,-,13.0,0.0,10.0,-,149.0,7864.0,280.45,88.0,102470.0
1,Ile-de-France,Donn�es d�finitives,2016-01-01,04:00,7174.0,312.0,-,3.0,0.0,10.0,-,150.0,6700.0,278.05,95.0,102540.0
2,Ile-de-France,Donn�es d�finitives,2016-01-01,07:00,7348.0,312.0,-,1.0,0.0,10.0,-,151.0,6874.0,277.05,97.0,102500.0
3,Ile-de-France,Donn�es d�finitives,2016-01-01,10:00,7746.0,311.0,-,2.0,2.0,10.0,-,150.0,7271.0,278.05,99.0,102450.0
4,Ile-de-France,Donn�es d�finitives,2016-01-01,13:00,8856.0,305.0,-,2.0,7.0,10.0,-,145.0,8387.0,279.55,99.0,102190.0

Adding Holidays column

In [183]:
holidays = ['01-01','05-09','11-01','04-01','05-20','11-09','05-01','07-14','12-25','05-08','08-15']

df_temp_hum['Holiday'] = [1 if d[5:] in holidays else 0 for d in df_temp_hum['Date']]

Renaming columns and saving df to CSV

In [184]:
df_temp_hum = df_temp_hum[['Date','Heures','y','Température','Humidité','Pression au niveau mer','Holiday']]
df_temp_hum = df_temp_hum.rename(columns={'Heures':'Hour','Température':'Temperature','Humidité':'Humidity','Pression au niveau mer':'Sealevel Pressure'})
df_temp_hum.to_csv("data_temp_hum_hol.csv")
df_temp_hum

,Date,Hour,y,Temperature,Humidity,Sealevel Pressure,Holiday
0,2016-01-01,01:00,8343.0,280.45,88.0,102470.0,1
1,2016-01-01,04:00,7174.0,278.05,95.0,102540.0,1
2,2016-01-01,07:00,7348.0,277.05,97.0,102500.0,1
3,2016-01-01,10:00,7746.0,278.05,99.0,102450.0,1
4,2016-01-01,13:00,8856.0,279.55,99.0,102190.0,1
...,...,...,...,...,...,...,...
14586,2020-12-31,10:00,10064.0,277.55,93.0,100210.0,0
14587,2020-12-31,13:00,10845.0,277.05,88.0,100310.0,0
14588,2020-12-31,16:00,10285.0,277.55,81.0,100460.0,0
14589,2020-12-31,19:00,11105.0,274.85,90.0,100590.0,0
14590,2020-12-31,22:00,9603.0,274.25,92.0,100720.0,0