In [1]:
import pandas as pd
import glob
import os

In [2]:
cols = ["Perimetre", "Nature", "Date", "Heures", "y", "Thermique", "Nucleaire", "Eolien", "Solaire", "Hydraulique", "Pompage", "Bioenergies", "Ech. physiques"]

In [3]:
path = "data"
all_files = glob.glob(os.path.join(path, "*.xls"))
df = pd.concat((pd.read_csv(f, names=cols, sep='\t', skiprows=1, index_col=False) for f in all_files))

C:\Users\adoni\AppData\Local\Temp\ipykernel_11832\3048580376.py:3: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.concat((pd.read_csv(f, names=cols, sep='\t', skiprows=1, index_col=False) for f in all_files))
C:\Users\adoni\AppData\Local\Temp\ipykernel_11832\3048580376.py:3: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.concat((pd.read_csv(f, names=cols, sep='\t', skiprows=1, index_col=False) for f in all_files))

In [4]:
df.drop(columns=["Perimetre", "Nature"], inplace=True)

In [5]:
# We will need the Date format to be YYYY-MM-DD for the Prophet library later
df.head()

,Date,Heures,y,Thermique,Nucleaire,Eolien,Solaire,Hydraulique,Pompage,Bioenergies,Ech. physiques
0,2016-01-01,00:00,8885.0,293.0,-,18.0,0.0,10.0,-,137.0,8428.0
1,2016-01-01,00:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01,00:30,8709.0,309.0,-,16.0,0.0,10.0,-,148.0,8226.0
3,2016-01-01,00:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01,01:00,8343.0,309.0,-,13.0,0.0,10.0,-,149.0,7864.0

In [111]:
# Check the number of unique values in each column
for column in df.columns:
    print(column, df[column].nunique())

Date 1827
Heures 96
y 9683
Thermique 1883
Nucleaire 1
Eolien 106
Solaire 108
Hydraulique 16
Pompage 1
Bioenergies 146
Ech. physiques 8840

In [129]:
for column in df.columns:
    print(df[column].value_counts(), '\n')

2016-01-01    96
2019-05-12    96
2019-05-10    96
2019-05-09    96
2019-05-08    96
              ..
2017-08-28    96
2017-08-27    96
2017-08-26    96
2017-08-25    96
2020-12-31    96
Name: Date, Length: 1827, dtype: int64

00:00    1827
00:15    1827
17:30    1827
17:15    1827
17:00    1827
         ...
07:15    1827
07:00    1827
06:45    1827
06:30    1827
23:45    1827
Name: Heures, Length: 96, dtype: int64

7675.0     34
7732.0     33
7955.0     33
7641.0     33
7581.0     32
           ..
13941.0     1
13992.0     1
13971.0     1
13878.0     1
10952.0     1
Name: y, Length: 9683, dtype: int64

0.0       38964
1.0        4079
2.0         522
390.0       409
400.0       378
          ...
2173.0        1
1913.0        1
2053.0        1
2247.0        1
1358.0        1
Name: Thermique, Length: 1883, dtype: int64

0.0      8854
1.0      6782
2.0      5132
3.0      4667
4.0      4084
         ...
103.0      15
104.0      14
90.0       12
105.0      12
93.0       11
Name: Eolien, Length: 106, dtype: int64

0.0      46606
1.0       2328
2.0       1857
3.0       1681
4.0       1479
         ...
98.0         3
114.0        1
158.0        1
111.0        1
106.0        1
Name: Solaire, Length: 108, dtype: int64

143.0    2279
142.0    2180
144.0    2173
145.0    2152
147.0    2151
         ...
76.0        2
70.0        2
235.0       1
74.0        1
72.0        1
Name: Bioenergies, Length: 146, dtype: int64

7766.0     33
7121.0     32
7422.0     32
7430.0     32
7179.0     31
           ..
13720.0     1
13488.0     1
13395.0     1
12885.0     1
4238.0      1
Name: Ech. physiques, Length: 8840, dtype: int64

2016-01-01 00:00    1
2019-05-03 00:45    1
2019-05-02 22:45    1
2019-05-02 23:00    1
2019-05-02 23:15    1
                   ..
2017-09-01 00:15    1
2017-09-01 00:30    1
2017-09-01 00:45    1
2017-09-01 01:00    1
2020-12-31 23:45    1
Name: ds, Length: 175392, dtype: int64