In [78]:
import pandas as pd
import os
from zipfile import ZipFile
import glob

# path = "data.zip"
# with ZipFile(path) as zObject: 
#     zObject.extractall()

In [79]:
cols = ["Perimetre", "Nature", "Date", "Heures", "y", "Thermique", "Nucleaire", "Eolien", "Solaire", "Hydraulique", "Pompage", "Bioenergies", "Ech. physiques"]

In [83]:
path = "data"
all_files = glob.glob(os.path.join(path, "*.xls"))
df = pd.concat((pd.read_csv(f, names = cols,sep='\t', skiprows=1, index_col=False)) for f in all_files)

C:\Users\Max\AppData\Local\Temp\ipykernel_26236\3324696664.py:3: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.concat((pd.read_csv(f, names = cols,sep='\t', skiprows=1, index_col=False)) for f in all_files)
C:\Users\Max\AppData\Local\Temp\ipykernel_26236\3324696664.py:3: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.concat((pd.read_csv(f, names = cols,sep='\t', skiprows=1, index_col=False)) for f in all_files)

In [84]:
df

,Perimetre,Nature,Date,Heures,y,Thermique,Nucleaire,Eolien,Solaire,Hydraulique,Pompage,Bioenergies,Ech. physiques
0,Ile-de-France,Donn�es d�finitives,2016-01-01,00:00,8885.0,293.0,-,18.0,0.0,10.0,-,137.0,8428.0
1,Ile-de-France,Donn�es d�finitives,2016-01-01,00:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ile-de-France,Donn�es d�finitives,2016-01-01,00:30,8709.0,309.0,-,16.0,0.0,10.0,-,148.0,8226.0
3,Ile-de-France,Donn�es d�finitives,2016-01-01,00:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ile-de-France,Donn�es d�finitives,2016-01-01,01:00,8343.0,309.0,-,13.0,0.0,10.0,-,149.0,7864.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35131,Ile-de-France,Donn�es d�finitives,2020-12-31,22:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35132,Ile-de-France,Donn�es d�finitives,2020-12-31,23:00,10180.0,412.0,-,6.0,0.0,1.0,-,128.0,9632.0
35133,Ile-de-France,Donn�es d�finitives,2020-12-31,23:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35134,Ile-de-France,Donn�es d�finitives,2020-12-31,23:30,10019.0,412.0,-,5.0,0.0,1.0,-,129.0,9470.0
35135,Ile-de-France,Donn�es d�finitives,2020-12-31,23:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN